.contact-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: grey;
    padding: 2rem !important;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px black inset;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 80%;
    height: auto;
}

button{
    margin-top: 1.3rem;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    flex-wrap: wrap;
    padding: 1rem;
}
.contact-body{
    justify-content: center;
    align-items: center;
    align-self: center;
    width : 60%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width : 100%;
}

div .form-group {
    width: 80%;
}

button{
    background-color: brown !important;
    color: white !important;
    border: none !important;
    margin-top: 1rem !important;
}