.toggle {
    margin : 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    
}
.brand {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 1rem;
}

.link-list {
  width: max-content;
  display: inline-flex;
}

.link{
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    width : max-content;
}




