.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; /* Stretch to fill container */
}

.project {
    display: flex;
    flex-direction: column;
    background-color: #2e2e2eef !important; /* Gray background color */
    border-radius: 10px;
    margin: 1rem;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    flex: 1 0 calc(100% - 2rem); /* Full width at smaller screen sizes */
    max-width: 350px;
    color: #cfc8c8 !important;
    text-shadow: 1px 1px 1px #646262 ;
}



.project:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.project-image{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.project-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0px;
}

.project-description{
    font-size: 0.9rem;
    font-weight: 300;
    margin: 10px 0px;
}

.project-tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.card-button {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;   
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0.5rem;
    background-color: red; /* Added red background */
    color: white; /* Set color of text (if any) to white */
}

.button-icon {
    width: 2rem;
    height: 2rem;
    color: white; /* Set color of icon to white */
    transition: all 0.2s ease-in-out;
}

.icon-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
}

.card-button {
    /* Other CSS omitted for brevity */
    transition: all 0.3s ease-in-out; /* Added a transition for smoother effect */
}

.card-button:hover {
    box-shadow: 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 35px #ff0000; 
    /* Multiple box-shadows for a "glow" effect. Adjust as needed. */
}

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .project {
        flex: 1 0 calc(100% - 2rem); /* Full width */
    }
}

/* For screens between 600px and 900px */
@media only screen and (min-width: 600px) {
    .project {
        flex: 1 0 calc(50% - 2rem); /* Half width */
    }
}

/* For screens between 900px and 1200px */
@media only screen and (min-width: 900px) {
    .project {
        flex: 1 0 calc(33.33% - 2rem); /* Third width */
    }
}

/* For screens larger than 1200px */
@media only screen and (min-width: 1200px) {
    .project {
        flex: 1 0 calc(25% - 2rem); /* Quarter width */
    }
}