section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-bottom: 2rem;
}

.greeting{
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
}

.title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.skill-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 20px;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 20px;
}

.download-heading{
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
}

.download-heading a{
    text-decoration: none;
    color: #000;
}
